// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-lg-6 {
  display:block;
  float: left;
}
.links {
  float: right;
}
#content {
  text-align: center;
}
.well {
  margin: 0 auto;
}
